<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Waiting for Approval</title>
    <!-- The Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
body{
    background-color: #040641;
    align-items: center;
    color:#ffffff
}
.container{
    margin-top:10px;
    background-color: #040641;
    border: 2px #333; 

    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
     box-shadow: 0 2px 50px #000000;
    
}
.ss{
    text-align: center;
    font-size: xx-large;
}
</style>
<body class="vh-100 d-flex align-items-center justify-content-center">

    <div class="container" >
        <div class="row justify-content-center">

                <p><br></p>
                    
                    
                    <h2 class="fw-bold mb-3">Approval Pending!!</h2>
                    
                    <p>
                        Your registration has been submitted successfully! Our administration team is currently reviewing your details.
                        <br><br>
                        You will be able to access your dashboard as soon as your account is verified. Contact administration for more details.
                    <br><br>
                    </p>
                    <div>
                        <a href="/login" class="btn btn-outline-warning text-dark border-2 fw-bold px-5 py-2 rounded-pill shadow-sm">
                            Return to Login
                        </a>
                                            <br><br>

                    </div>
                    

            
        </div>
    </div>

</body>
</html>